@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); //font-family: 'Playfair Display', serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); //font-family: 'Montserrat', sans-serif;
@import "./variables", "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
}
#root {
  position: relative;
}
.main-navigation.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.main-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 5rem;
  box-shadow: 0.1rem 0.1rem 1rem darkslategray;
  background-color: white;
  transition: 0.4s all;
  & a {
    color: black;
    text-decoration: 0;
    & .header-logo {
      display: flex;
      align-items: center;
      & .reactIcon {
        margin-right: 1rem;
        font-size: 4rem;
        color: $primaryColor;
      }
      & .header-heading {
        font-size: 2rem;
        font-family: "Playfair Display", serif;
      }
    }
  }
  & nav {
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      & a {
        color: black;
        text-decoration: 0;
        margin: 0 0.5rem;
        font-size: 2rem;
        padding: 1rem 2rem;
        overflow: hidden;
        transition: 0.4s all ease;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $primaryColor 50%
        );
        background-size: 250%;
        &:hover {
          background-position: 100%;
          transform: translateX(1rem);
          color: white;
        }
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  padding: 4rem 10rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#showcase {
  background-image: url("./images/defaultBcg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & .showcase-content {
    background-color: rgba(black, 0.5);
    color: white;
    padding: 10rem 25rem;
    text-align: center;
    & .showcase-content-heading {
      font-size: 4rem;
      margin-bottom: 2rem;
      font-family: "Playfair Display", serif;
    }
    & .showcase-content-subheading {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-family: "Playfair Display", serif;
      & .price {
        font-family: "Montserrat", sans-serif;
      }
    }
    & .btn {
      @include btn(2rem 4rem, 1rem 0 0 0);
    }
  }
}
#services {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    $primaryColor,
    $quaternaryColor
  );
  & .services-heading {
    margin-bottom: 6rem;
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 3rem;
  }
  & .services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    & .service {
      background-color: white;
      box-shadow: 0.1rem 0.1rem 0.5rem rgb(75, 75, 75);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 6rem 5rem;
      text-align: center;
      transition: 0.4s all;
      border-radius: 1rem;
      overflow: hidden;
      height: 38rem;
      &:hover {
        transform: translateY(-2rem);
      }
      & .reactIcon {
        color: $quaternaryColor;
        font-size: 4rem;
        margin-bottom: 2rem;
      }
      & .service-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      & .service-content {
        font-size: 1.4rem;
      }
    }
  }
}
#featuredRooms {
  padding: 5rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
  & .featuredRooms-heading {
    font-size: 3rem;
    margin: 8rem 0;
    font-family: "Playfair Display", serif;
  }
  & .featuredRooms-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    & .featuredRoom {
      position: relative;
      perspective: 120rem;
      border-radius: 1rem;
      & .featuredRoom.sideOne {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: rotateX(0deg);
        transition: 1s all;
        backface-visibility: hidden;
        box-shadow: 0.1rem 0.1rem 1rem darkgray;
        & .featuredRoom-heading {
          padding: 1rem;
          top: 2rem;
          right: 0;
          font-size: 1.5rem;
          text-transform: capitalize;
          color: white;
          position: absolute;
          background: linear-gradient(100deg, $primaryColor, $quaternaryColor);
          box-shadow: 0.1rem 0.1rem 0.5rem $quaternaryColor;
        }
        & .featuredRoom-image {
          position: relative;
          overflow: hidden;
          & img {
            width: 100%;
            display: block;
            background-position: top;
          }
          // &::before {
          //   content: "";
          //   top: 0;
          //   left: 0;
          //   height: 100%;
          //   width: 100%;
          //   position: absolute;
          //   background: linear-gradient(
          //     to bottom left,
          //     rgba($primaryColor, 0.75),
          //     rgba($tertiaryColor, 0.75)
          //   );
          // }
        }
        & ul {
          list-style: none;
          text-align: center;
          margin: 4.5rem 0;
          padding: 0 8rem;
          & li {
            margin: 0.5rem auto 1rem auto;
            font-size: 1.3rem;
            padding-bottom: 0.5rem;
            position: relative;
            &::before {
              content: "";
              background-color: darkgray;
              bottom: 0;
              left: 50%;
              width: 50%;
              transform: translateX(-50%);
              height: 0.1rem;
              position: absolute;
            }
          }
        }
      }
      & .featuredRoom.sideTwo {
        background: linear-gradient(100deg, $primaryColor, $quaternaryColor);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: 1s all;
        box-shadow: 0.1rem 0.1rem 1rem darkgray;
        & .price {
          color: white;
          margin-bottom: 5rem;
          font-size: 3rem;
          font-weight: 300;
        }
        & a {
          & .btn {
            @include btn(2rem 4rem, 2rem 0);
          }
        }
      }
    }
    & .featuredRoom:hover .featuredRoom.sideOne {
      transform: rotateY(180deg);
    }
    & .featuredRoom:hover .featuredRoom.featuredRoom.sideTwo {
      transform: rotateY(360deg);
    }
  }
}

#error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, $primaryColor, $secondaryColor);
  & .error-heading {
    font-size: 3rem;
    margin-bottom: 8rem;
    color: white;
  }
  & a {
    & .btn {
      @include btn(2rem 4rem, 0);
    }
  }
}

#singleRoom {
  & #singleRoomShowcase {
    position: relative;
    height: 50rem;
    & img {
      width: 100%;
      height: 100%;
    }
    & .singleRoomShowcase-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(black, 0.6);
      text-align: center;
      width: 100rem;
      height: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .singleRoomShowcase-heading {
        color: white;
        margin-bottom: 4rem;
        font-family: "Playfair Display";
        text-transform: capitalize;
        font-size: 8rem;
      }
      & .btn {
        @include btn(1.5rem 2rem, 0);
      }
    }
  }
  & #singleRoomDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 6rem;
    & .singleRoomDetails-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
      & img {
        width: 100%;
        object-fit: cover;
      }
    }
    & .singleRoomDetails-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem;
      justify-items: center;
      margin: 5rem 0;
      & .singleRoomDetails-description {
        & .description-heading {
          font-size: 3rem;
          margin-bottom: 1rem;
        }
        & .description-content {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }
      & .singleRoomDetails-info {
        & .info-heading {
          font-size: 3rem;
          margin-bottom: 1rem;
        }
        & h5 {
          font-size: 1.6rem;
          margin: 1rem 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          & span {
            margin-left: 3rem;
          }
        }
      }
    }
    & .singleRoomDetails-extras {
      margin: 0 auto;
      & .extras-heading {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      & ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 1rem;
        & li {
          margin: 1rem 0;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          & .reactIcon {
            color: $primaryColor;
            font-size: 2rem;
          }
        }
      }
    }
  }
}

#rooms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & #roomsShowcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/room-1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 55rem;
    position: relative;
    &::before {
      content: "";
      background-color: rgba(black, 0.5);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    & * {
      z-index: 10;
    }
    & .roomsShowcase-content {
      background-color: rgba(white, 0.6);
      text-align: center;
      width: 100rem;
      padding: 5rem;
      & .roomsShowcase-heading {
        font-size: 8rem;
        margin-bottom: 4rem;
        font-family: "Playfair Display", serif;
      }
      & .btn {
        @include btn(2rem 4rem, 0);
      }
    }
  }
  & #rooms-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
    grid-template-rows: repeat(6, 1frs);
    margin: 2rem 10rem 5rem 10rem;
    & .room {
      position: relative;
      &:hover .room-image::before {
        transform: scale(2);
      }
      &:hover .btn {
        visibility: visible;
        opacity: 1;
      }
      & .room-image {
        width: 100%;
        position: relative;
        overflow: hidden;
        &::before {
          content: "";
          background-color: rgba(black, 0.5);
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          border-radius: 50%;
          transform: scale(0);
          transition: 0.3s transform;
        }
        & img {
          width: 100%;
          display: block;
          object-fit: cover;
        }
      }
      & .btn {
        background-color: $primaryColor;
        border: 0;
        outline: 0;
        color: white;
        padding: 1.5rem 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all;
        transition-delay: 0.1s;
      }
      & .room-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        & .room-name {
          text-transform: capitalize;
          font-size: 1.5rem;
        }
        & .room-price {
          font-size: 1.5rem;
        }
      }
    }
  }
  #filters {
    margin: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .filters-heading {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    & form {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem 0;
      & .form-control {
        margin: 0 2rem;
        display: flex;
        align-items: center;
        & label {
          margin: 0 2rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
.noMatch-heading {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 20rem;
}
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  & figure {
    width: 50%;
    & img {
      width: 100%;
      display: block;
    }
  }
}

.message {
  position: fixed;
  background-color: rgba(black, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.4s all;
  visibility: hidden;
  opacity: 0;
  & .message-container {
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1rem darkgray;
    padding: 3rem 2rem;
    width: 30%;
    font-size: 1.5rem;
    & .btn {
      @include btn(2rem 4rem, 2rem 0 0 0);
    }
  }
}
.message.show {
  visibility: visible;
  opacity: 1;
}
